/* ContactForm.module.css */
.form {
  display: flex;
  flex-direction: column;
}

.form .field {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form .field input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form .error {
  color: #d60b1f;
  font-size: 0.8rem;
}

.form .submit-btn {
  background-color: #e87d1f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}
